*{
    margin: 0;
    padding: 0;
}

/* LODING... */
body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background:#000;
} 

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background: #000;
}

.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 3s linear 3;
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 14px #e65c00;
        opacity: 1;
    }
    33%{
        transform: rotate(120deg);
        box-shadow: 1px 5px 14px #18b201;
        opacity: 1;
    }
    66%{
        transform: rotate(240deg);
        box-shadow: 1px 5px 14px #0456c8;
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 14px #e65c00;
        opacity: 0;
    }
}

.load{
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 200px;
    animation: rin 3s linear 3;
}

@keyframes rin {
    0%{
        transform: rotate(0deg);
        color: #e65c00;
    }
    50%{
        transform: rotate(-180deg);
        color: #18b201;
    }
    100%{
        transform: rotate(-360deg);
        color: #0456c8;
    }
}

.load1{
    height: 100vh;
    width: 100vw;
    background: #000;
    animation: anima 3s linear;
}

@keyframes anima {
    0%{
        opacity: 0;
    }
    65%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* SOUND */
.home{
    display: none;
    background: #000;
    width: 100vw;
    height: 100vh;
}

#sound{
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    width:fit-content;
    border-radius: 0.2em;
    color: white;
}

#sound_icon{
    font-size: 1.5em;
    color: rgb(253, 16, 86);
    padding-top: 0.5em;
}

#sound_btn{
    border: none;
    background-color:rgba(0, 0, 0, 0);
    opacity:0.7;
    color: rgb(253, 16, 86);
    outline: none;
    font-weight: bold;
    padding-top: 0.5em;
}

#sound_text{
    font-size: 1em;
    padding-top: 0.65em;
}

/* BULB */
header{
    display: flex;
    height: 100vh;
    background: #000;
    padding-left: 70vw;
    padding-top: 30vh;
}

header.on{
    background: radial-gradient(at 72% 40%,#555,#222);
}

.bulb{
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #444;
    z-index: 2;
}

header.on .bulb{
    background: #fff;
    box-shadow: 0 0 50px #fff,
    0 0 100px #fff,
    0 0 150px #fff,
    0 0 200px #fff,
    0 0 250px #fff,
    0 0 300px #fff;
}

.bulb::before{
    content: '';
    position: absolute;
    top: -50px;
    left:22.5px;
    width: 35px;
    height: 80px;
    background:#444 ;
    border-top: 30px solid #222;
    border-radius: 10px;
}

header.on .bulb::before{
    background:#fff ;
}

header.on .bulb::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:120px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    filter: blur(40px);
}

.bulb span:nth-child(1){
    position: absolute;
    top:-16px;
    left:-3.7px;
    width: 30px;
    height: 30px;
    transform: rotate(344deg);
    background: transparent;
    border-bottom-right-radius: 40px;
    box-shadow: 20px 20px 0px 10px #444;
}

header.on .bulb span:nth-child(1){
    box-shadow: 20px 20px 0px 10px #fff;
}

.bulb span:nth-child(2){
    position: absolute;
    top:-16px;
    right:-4px;
    width: 30px;
    height: 30px;
    transform: rotate(16deg);
    background: transparent;
    border-bottom-left-radius: 40px;
    box-shadow: -20px 20px 0px 10px #444;
}

header.on .bulb span:nth-child(2){
    box-shadow: -20px 20px 0px 10px #fff;
}

.wire{
    position: absolute;
    left: 73vw;
    top:0px;
    width: 4px;
    height: 40vh;
    background: rgb(34, 34, 34);
    z-index: 1;
}

.switch{
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 80px;
    background: linear-gradient(#eee,#eee,#eee);
    border: 3px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch .btn{
    position: relative;
    width: 25px;
    height: 40px;
    background: linear-gradient(#777,#000,#777);
    border-radius: 6px;
    border: 3px solid #000;
    cursor: pointer;
}

.switch .btn::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 85%;
    background: #fff;
    border-radius: 3.5px;
}

.on .switch .btn::before{
    top:15%
}

#audio{
    display: none;
}

#text1{
    position: absolute;
    top:15vh;
    left:8vw;
    color:rgb(193, 193, 193);
    font-size: 16vh !important;
}

#bounce
{
    display:flex;
    font-family: 'Fredoka One', cursive !important;    
}

#bounce1
{
    display:flex;
}

#text1 h1{
    margin-top: -10px !important;
    margin-bottom: 0px !important;
    font-size:110% !important;
    font-family: 'Fredoka One', cursive;    
}

.bounce_text1:hover{
    color:#0AFFF7;   
}

.bounce_text2:hover{
    color:#fd1056 !important;   
}

.onn{
    color: #fff !important;
    text-shadow: -20px 15px 17px #000;
}

#space_btw_text{
    margin-top: -10em;
}

#text1 h1:hover{
    color:#0AFFF7;   
    animation-name:b;
    animation-duration:.7s;
}
@keyframes b{
    0%,60%,100%{transform:scale(1,1);}
    40%{transform:scale(1.3,0.5);}
    50%,80%{transform:scale(1.2,0.8);}
}

#short_desc{
    position: absolute;
    display: flex;
    font-size: .25em;
    font-family: 'Comic Sans';
    padding-top: 0.3em;
    left:3vw !important;
}

.hoverJiggle::selection{
    background:none;
}

.entry::selection{
    background: none;
}

.btn-1{
    font-size: 0.25em;
    background: #0AFFF7;
    color: rgb(59, 59, 59);
    border: none;
    padding: 5px 20px;
    box-shadow: inset 0 0 0 0 #fd1056;
    border-radius: 4px;
    transition: ease-in-out 0.5s;
    outline: none;
}

.btn-1:hover{
    box-shadow: inset 210px 0 0 0 #fd1056;
    color: #fff;
}

/* .btn-1{
    font-size: 0.25em;
    background: none;
    color: rgb(59, 59, 59);
    padding: 5px 20px;
    border: 3px solid #0AFFF7;
    box-shadow: inset 0 0 0 0 #fd1056;
    border-radius: 4px;
    transition: ease-in-out 0.5s;
    outline: none;
    z-index: 1;
    position: relative;
    color: rgb(191, 191, 191);
}

.btn-1:hover{
    color: #fff;
}

.btn-1::before{
    transition: 0.5s all ease;
    opacity: 0;
    content: '';
    top: 0;
    bottom: 0;
    right: 50%;
    left: 50%;
    background-color: #0AFFF7;
    position: absolute;
}

.btn-1:hover::before{
    transition: 0.5s all ease;
    right: 50%;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
} */